//- Section
//-
//- A section block to encapsulate groups of related content


//- Options
//- -- description (optional)
//- -- title (optional)


mixin section(args)
  - var attributesClass = attributes.class ? attributes.class : null
  
  section.section(class=args.style ? "section--" + args.style : null class=attributesClass)
    .section__inner
      if args.title
        .section__intro
          h2.section__title!= args.title
          if args.description
            p.section__description!= args.description
      .section__content(class=args.narrow ? "section__content--narrow" : null)
        block
