block prepend vars
  -var appName = 'Howdy'
  -var exampleEmail = 'your-email-here@example.com'
  -var slogan = "Designer friendly contact forms"

doctype html
//if lt IE 7
    <html class='no-js lt-ie9 lt-ie8 lt-ie7'>
//if IE 7
    <html class='no-js lt-ie9 lt-ie8'>
//if IE 8
    <html class='no-js lt-ie9'>
// [if gt IE 8] <!
html(class='no-js', lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    title #{appName} &bull; #{slogan}

    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, target-densitydpi=160dpi, initial-scale=1.0')

    meta(http-equiv='cleartype', content='on')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='#{appName}')

    link(rel='stylesheet', href='/styles/main.css')

    script(src='/scripts/app/main.app.js')

  body(dir='ltr', class='#{bodyClass}')

    header.header
      .container
        h1.header__title #{appName}

        h2 #{slogan}

        p Contact forms a constant pain in the neck for you and your clients? Howdy handles form validation and submission, delivering the results straight to your email inbox. <b>No programming required.</b>

        .envelope.animated(id='snippet-envelope')

          .envelope__input-group(id='snippet-generator')

            p.envelope__lead Enter your email address to generate your Howdy code snippet below:

            input.envelope__input(placeholder='#{exampleEmail}', id='snippet-generator-email')
            button.envelope__button(id='snippet-generator-button') Generate My Snippet

          .snippet(id='snippet-display')

            p.envelope__lead Copy &amp; paste this snippet onto the page with your form on to start receiving submissions right to your inbox:

            pre
              .code
                &lt;script type="text/javascript" src="https://app.howdyform.com/static/howdyClient.js?email=<span id="snippet-display-email">#{exampleEmail}</span>"&gt;&lt;/script&gt;


    section.benefits
      .container
        h2 A Designers Best Friend

        .benefit
          h4.benefit__heading Automatic validations
          p.benefit__content Howdy comes with out-the-box validation on all common fields.

        .benefit
          h4.benefit__heading Custom validations
          p.benefit__content Specify your own validations with data attributes, no programming.

        .benefit
          h4.benefit__heading Use your own designs
          p.benefit__content Integrates seamlessly with your designs. Just drop in our code snippet on the page.

        .benefit
          h4.benefit__heading No account required
          p.benefit__content We only need to know where to send your emails, so we only ask for an email address.

        .benefit
          h4.benefit__heading Tried &amp; tested
          p.benefit__content Howdy performs flawlessly on all browsers and devices; desktop &amp; mobile.

        .benefit
          h4.benefit__heading Absolute privacy
          p.benefit__content There's no need for us to store your data, so we don't. Simple.

    section.defaults
      .container
        h2 Automatic Validation
        h3 Howdy validates against common fields by default

        ul.defaults__list
          li.defaults__list__item email
          li.defaults__list__item name
          li.defaults__list__item first_name
          li.defaults__list__item last_name
          li.defaults__list__item firstName
          li.defaults__list__item lastName
          li.defaults__list__item subject
          li.defaults__list__item topic
          li.defaults__list__item about
          li.defaults__list__item body
          li.defaults__list__item message
          li.defaults__list__item address
          li.defaults__list__item postcode
          li.defaults__list__item post_code
          li.defaults__list__item postCode
          li.defaults__list__item zipcode
          li.defaults__list__item zip_code
          li.defaults__list__item zipCode
          li.defaults__list__item tel
          li.defaults__list__item telephone
          li.defaults__list__item mobile
          li.defaults__list__item mob
          li.defaults__list__item age


    section.customise
      .container
        h2 Custom Validation
        h3 Override default validation by adding a <span>data-howdy-validate</span> attribute to your input

        .code
          ul.code__list
            li.code__list__item data-howdy-validate<span class='code__text'>=“</span>none<span class='code__text'>”</span> <span class='code__comment'>// No validation on this input</span>
            li.code__list__item data-howdy-validate<span class='code__text'>=“</span>required<span class='code__text'>”</span> <span class='code__comment'>// Some value is required</span>
            li.code__list__item data-howdy-validate<span class='code__text'>=“</span>email<span class='code__text'>”</span> <span class='code__comment'>// An email address in required</span>
            li.code__list__item data-howdy-validate<span class='code__text'>=“</span>number<span class='code__text'>”</span> <span class='code__comment'>// A number is required</span>
            li.code__list__item data-howdy-validate<span class='code__text'>=“</span>noLetters<span class='code__text'>”</span> <span class='code__comment'>// No letters allowed in the input</span>


    footer.footer
      .container

        .footer__section
          a.footer__link(href='#') Report an issue

        .footer__section
          p.footer__text Made with <span class='heart'>❤</span> by <a class='footer__link' href='http://weareleaf.com'>Leaf</a>

        .footer__section
          a.footer__link(href='#') Tweet