block prepend vars
  -var appName = 'Howdy'
  -var exampleEmail = 'your-email-here@example.com'

doctype html
//if lt IE 7
    <html class='no-js lt-ie9 lt-ie8 lt-ie7'>
//if IE 7
    <html class='no-js lt-ie9 lt-ie8'>
//if IE 8
    <html class='no-js lt-ie9'>
// [if gt IE 8] <!
html(class='no-js', lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    title #{appName}

    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, target-densitydpi=160dpi, initial-scale=1.0')

    meta(http-equiv='cleartype', content='on')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='#{appName}')

    link(rel='stylesheet', href='/styles/main.css')

    //- Uncomment one of the lines below to pull in either your app JS, or some library JS.
    script(src='/scripts/app/main.app.js')
    //- script(src='/scripts/lib/demoLib.js') //- A project built lib script.
    //- script(src='/lib/foo/bar.min.js') //- A bower installed script.

  body(dir='ltr', class='#{bodyClass}')

    header.header
      .container
        h1.header__title #{appName}

        .envelope.animated(id='snippet-envelope')

          p.envelope__lead Simply copy &amp; paste your unique code on to your page to start receiving messages through your contact form

          .envelope__input-group(id="snippet-generator")
            input.envelope__input(placeholder='#{exampleEmail}', id="snippet-generator-email")
            button.envelope__button(id="snippet-generator-button") Generate My Snippet

          div(id="snippet-display")
            pre
              &lt;script type="text/javascript" src="https://app.howdyform.com/static/howdyClient.js?email=<span id="snippet-display-email">#{exampleEmail}</span>"&gt;&lt;/script&gt;


    section.benefits
      .container
        h2 A Designers Best Friend

        .benefit
          h4.benefit__heading Auto validation
          p.benefit__content Howdy comes with out-the-box validation on all common fields

        .benefit
          h4.benefit__heading Easy customisation
          p.benefit__content Specify your own validations without any programming

        .benefit
          h4.benefit__heading Your own styles
          p.benefit__content Integrate seamlessly with your site. Our code, your design

        .benefit
          h4.benefit__heading No account
          p.benefit__content Use Howdy without an account. No sign-up necessary

        .benefit
          h4.benefit__heading Tried &amp; tested
          p.benefit__content Howdy performs flawlessly on all devices; desktop &amp; mobile

        .benefit
          h4.benefit__heading Something else
          p.benefit__content Need a sixth here, ‘cause it’s just a lot nicer to have six

    section.defaults
      .container
        h2 Automatic Validation
        h3 Howdy validates against common fields by default

        ul.defaults__list
          li.defaults__list__item email
          li.defaults__list__item name
          li.defaults__list__item first_name
          li.defaults__list__item last_name
          li.defaults__list__item firstName
          li.defaults__list__item lastName
          li.defaults__list__item subject
          li.defaults__list__item topic
          li.defaults__list__item about
          li.defaults__list__item body
          li.defaults__list__item message
          li.defaults__list__item address
          li.defaults__list__item postcode
          li.defaults__list__item post_code
          li.defaults__list__item postCode
          li.defaults__list__item zipcode
          li.defaults__list__item zip_code
          li.defaults__list__item zipCode
          li.defaults__list__item tel
          li.defaults__list__item telephone
          li.defaults__list__item mobile
          li.defaults__list__item mob
          li.defaults__list__item age


    section.customise
      .container
        h2 Custom Validation
        h3 Override default validation by adding a <span>data-howdy-validate</span> attribute to your input

        .code
          ul.code__list
            li.code__list__item data-howdy-validate<span class='code__text'>=“</span>none<span class='code__text'>”</span> <span class='code__comment'>// No validation on this input</span>
            li.code__list__item data-howdy-validate<span class='code__text'>=“</span>required<span class='code__text'>”</span> <span class='code__comment'>// Some value is required</span>
            li.code__list__item data-howdy-validate<span class='code__text'>=“</span>email<span class='code__text'>”</span> <span class='code__comment'>// An email address in required</span>
            li.code__list__item data-howdy-validate<span class='code__text'>=“</span>number<span class='code__text'>”</span> <span class='code__comment'>// A number is required</span>
            li.code__list__item data-howdy-validate<span class='code__text'>=“</span>noLetters<span class='code__text'>”</span> <span class='code__comment'>// No letters allowed in the input</span>


    footer.footer
      .container

        .footer__section
          a.footer__link(href='#') Report an issue

        .footer__section
          p.footer__text Made with <span class='heart'>❤</span> by <a class='footer__link' href='http://weareleaf.com'>Leaf</a>

        .footer__section
          a.footer__link(href='#') Tweet